<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Редагування лабораторної роботи - NULP 2024</title>
    <script src="{{ url_for('static', filename='js/lab/edit_lab.js') }}" defer></script>
</head>
<body>
<h1>Редагувати лабораторну роботу: {{ lab.name }}</h1>

<form id="edit-form-lab">
    <input type="hidden" id="subject_id" name="subject_id" value="{{ lab.subject_id }}">

    <label for="name">Назва лабораторної:</label>
    <input type="text" id="name" name="name" value="{{ lab.name }}">

    <label for="description">Опис:</label>
    <textarea id="description" name="description">{{ lab.description }}</textarea>

    <label for="max_points">Максимальна кількість балів:</label>
    <input type="number" id="max_points" name="max_points" value="{{ lab.max_points }}">

    <label for="is_submitted">Подано:</label>
    <input type="checkbox" id="is_submitted" name="is_submitted" {% if lab.is_submitted %} checked {% endif %}>

    <label for="received_points">Отримано балів:</label>
    <input type="number" id="received_points" name="received_points" value="{{ lab.received_points }}">

    <button type="button" onclick="submitForm_lab()">Зберегти зміни</button>
</form>

<a href="{{ url_for('labs.view_labs', subject_id=lab.subject_id) }}">Назад до списку</a>
</body>
</html>
