{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Створення предмету - NULP 2024 {% endblock title %}</title>
</head>
<body>
{% block content %}
<form method="POST">
    <h2>Створити новий предмет </h2>
    <input type="text" name="title" placeholder="Назва предмету" required>
    <textarea name="description" placeholder="Опис предмету" required></textarea>
    <button type="submit">Створити предмет</button>
</form>
{% endblock content %}
</body>
</html>