<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Оновлення предметів - NULP 2024</title>

    <script src="{{ url_for('static', filename='js/subject/edit_subject.js') }}" defer></script>
</head>
<body>
<h1>Редагувати предмет: {{ subject.title }}</h1>
<form id="edit-form-subject">
    <input type="hidden" id="semester_id" name="semester_id" value="{{ subject.semester_id }}">

    <label for="title">Назва:</label>
    <input type="text" id="title" name="title" value="{{ subject.title }}">

    <label for="description">Опис:</label>
    <textarea id="description" name="description">{{ subject.description }}</textarea>

    <button type="button" onclick="submitForm_subject()">Зберегти зміни</button>
</form>
<a href="{{ url_for('subjects.view_subjects', semester_id=subject.semester_id) }}">Назад до списку</a>
</body>
</html>
